# ============================================
# Gitignore file for 2r3
# ============================================



# 忽略 vscode 设置文件夹、 测试用cmake配置文件夹、 cmake 生成的 build 文件夹
/.vscode
/cmake_test
/build

# 忽略 exe 输出

/2r3_Windows.pdb
/2r3_Windows.exe

# 忽略 claude 输出
/claude-output.md

# 忽略 inno setup 输出
/setup.exe